/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

/* Navbar styles */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}
header h2{
    font-size: 24px;
    font-weight: bold;
    padding-left: 150px;
}
header nav ul{
    padding-right: 150px;
}
nav ul li{
    list-style: none;
    display: inline;
    padding-left: 34px;
}
nav ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

/* Hero-Box Styles */
.site-title{
    padding-left: 70px;
    margin-right: 250px;
}
.site-title h1{
    font-size: 52px;
    font-weight: bold;
}
.site-title p{
    margin-top: -30px;
}
.site-title a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 40px;
}
.site-title a i{
    padding-left: 10px;
}
.hero-image{
    background-image: url(images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.hero-image img{
    padding-right: 70px;
    width: 450px;
}

/* Company Logo */
.company-logos{
    border-top: 2px solid #F2F2F2;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #F2F2F2;
}
.company-logos img{
    padding: 0 30px;
}

/* Products Listing Style */
.section-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding: 30px 0 80px 0;
}
.product{
    background-color: #FFFFFF;
    width: 330px;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.product> img{
    width: 330px;
}
.product-info{
    display: flex;
    align-items: center;
}
.product-info .filled, .half{
    color: #FB8200;
}
.product h3{
    font-size: 28px;
    font-weight: 500;
}
.product> .product-info p{
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* Footer Styles */
footer{
    background-color: #0A0826;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 0 50px 0;
}
footer h2{
    font-size: 24px;
    font-weight: 700;
}
footer .footer-icon a{
    color: #FFFFFF;
    font-size: 25px;
    padding-right: 20px;
}